<% if(data){ %>
<div class="container">
  <div class="person">
    <figure>
      <img src="../img/loestoch.PNG" alt="" />
    </figure>
    <div class="text">
      <h2 class="firstname"><%= data.username %></h2>
      <h2 class="age"><%= data.age %></h2>
      <p>
        Hallo, dit is de beschriving van Kees
      </p>
    </div>
  </div>

  <form class="addData" action="/like" method="post">
    <input type="text" class="userId" name="id" value="<%= data._id %>" />
    <input name="like" id="like" type="submit" />
    <label for="like" class="like"></label>
  </form>

  <form class="addData" action="/like" method="post">
    <input type="text" class="userId" name="id" value="<%= data._id %>" />
    <input name="megalike" id="megalike" type="submit" />
    <label for="megalike" class="megalike"></label>
  </form>

  <form class="addData" action="/like" method="post">
    <input type="text" class="userId" name="id" value="<%= data._id %>" />
    <input name="dislike" id="dislike" type="submit" />
    <label for="dislike" class="dislike"></label>
  </form>
</div>

<% } else{ %>

<div class="noMoreUsers">
  <h1>
    Jij vind wel heel veel mensen leuk! Nu zijn alle piertjes op! Kom morgen
    terug voor meer moffeltjes.
  </h1>
  <a href="">Checkout your matches</a>
</div>

<% } %>
