<!DOCTYPE html>
<html lang="en">
  <%- include ("components/head.ejs") -%>

  <body>
    <header>
      <%- include ("components/header.ejs") -%>
    </header>

    <main id="chats">
      <div class="bgImage">
        <div></div>
      </div>

      <section class="chatComponents">
        <%- include('components/chatSidebar.ejs') -%> <%-
        include('components/chatMessages.ejs', {data: data}) -%> <%-
        include('components/chatSend.ejs') -%> <%-
        include('components/sendGif.ejs') -%>
      </section>
    </main>

    <footer></footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
