<!DOCTYPE html>
<html lang="en">
<%- include ("components/head.ejs") -%>

<body>
  <header>
    <%- include ("components/chatHeader.ejs") -%>
  </header>

  <main id="chats" class="centerOneScreen" data-chatting="true">

    <div class="bgImage">
      <div></div>
    </div>

    <section class="chatComponents">
      <%- include('components/chatSidebar.ejs', {data: users}) -%>
      <%- include('components/chatMessages.ejs', {data: chats}) -%>
      <%- include('components/chatSend.ejs') -%>
    </section>

  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>

</html>