<!DOCTYPE html>
<html lang="en">

<%- include ("components/head.ejs") -%>

<body>
    <header>
        <%- include ("components/header.ejs") -%>
    </header>

    <main id="chats" data-chatting="true">
        <div class="bgImage">
            <div></div>
        </div>

        <section class="chatUsers">
            <ul>
                <% if (data.length > 0) { %>

                <% for (let i = 0; i < data.length; i++) { %>

                <li>
                    <form class="chatProfile" action="/changeChat" method="post">
                        <button type="submit" tabindex="2" name="changeChat" value="<%= data[i]._id %>">
                            <div class="profile">
                                <img src="img/moffelMuts.png" alt="profile picture of <%= data[i].name %>">
                                <h3>
                                    <%= data[i].name %>
                                </h3>
                            </div>
                        </button>
                    </form>
                </li>

                <% } %>

                <% } else { %>
                <div class="">
                    <p>No messages found, start chatting and matching 🦀</p>
                </div>

                <div class="">
                    <p>No messages found, start chatting and matching 🦀</p>
                </div>
                <% } %>

            </ul>
        </section>

    </main>

    <script src="js/script.js"></script>
</body>

</html>